// avue适配深色模式
.dark {
  .avue-crud {
    .avue-crud__header {
      background-color: var(--el-bg-color-overlay);
    }

    .avue-crud__tip {
      border-color: transparent;
      background-color: var(--el-color-primary-light-9);
      color: var(--el-color-primary);
    }

    .el-table {
      th.el-table__cell {
        color: initial;
        background-color: var(--el-fill-color-light);
      }
    }

    .avue-crud__grid {
      .avue-crud__grid__content {
        border-color: var(--el-border-color-lighter);
      }

      .avue-crud__grid__content[style^='background: linear-gradient(rgba(88, 159, 248, 0.1), white);'] {
        background: linear-gradient(var(--el-color-primary-light-9), var(--el-bg-color)) !important;
      }

      .title .avue-crud__grid__value,
      .avue-crud__grid__label {
        color: var(--el-text-color-primary);
      }

      .avue-crud__grid__item {
        color: var(--el-text-color-secondary);
      }
    }
  }

  .avue-form {
    .avue-group {
      .el-collapse,
      .el-collapse-item__wrap {
        border-color: transparent;
      }

      .el-collapse-item__header {
        border-color: var(--el-border-color);
      }

      .avue-group__title {
        color: initial;
      }
    }

    &.avue--detail,
    .avue--detail {
      .avue-group__header {
        border-color: var(--el-border-color);
      }

      .el-row,
      .el-col {
        border-color: var(--el-border-color);
      }

      .el-form-item {
        background: unset;
      }

      .el-form-item__label {
        background: var(--el-fill-color-lighter);
      }

      .el-form-item__content {
        border-color: var(--el-border-color);
        background: unset;
      }

      .el-input.is-disabled .el-input__wrapper,
      .el-input.is-disabled .el-input__inner,
      .el-range-editor.is-disabled,
      .el-range-editor.is-disabled input,
      .el-textarea.is-disabled .el-textarea__inner {
        background-color: unset;
        color: var(--el-text-color);
      }
    }
  }

  .avue-dialog {
    .el-dialog__title,
    .el-drawer__header {
      color: initial;
    }

    .el-dialog__header,
    .el-drawer__header {
      border-color: var(--el-border-color);
    }

    .el-dialog__body {
      overflow: auto;
    }

    .avue-dialog__footer {
      border-color: var(--el-border-color);
      background-color: var(--el-bg-color);
    }
  }

  .avue-upload {
    .el-upload {
      background-color: unset !important;
      border-color: var(--el-border-color);
    }
  }
}
