.lf-container {
  height: 100%;
}
.lf-main {
  height: 100%;
}
.lf-aside {
  padding-left: 20px;
}
.lf-node {
  cursor: pointer;
}

.lf-drag-able {
  cursor: unset;
}

// panel
.lf-dndpanel {
  // 分两列
  // height: 98%;
  // width: 130px;
  // display: grid;
  // grid-template-columns: repeat(2, 50%);
  // grid-template-rows: repeat(10, 60px);
  .lf-dnd-text {
    overflow: hidden;
    color: #000;
  }
  .lf-dnd-item {
    margin-top: 0;
  }
}
