@import './utils.scss';

.avue-dialog.el-dialog {
  border-radius: var(--el-dialog-border-radius);

  .avue-crud__dialog__menu {
    @include overlay-button;

    top: 0px;
    right: 20px;

    i {
      color: inherit;
      font-size: inherit;
    }
  }

  .el-dialog__body {
    padding-bottom: 60px;
    overflow: auto;
  }

  .avue-dialog__footer {
    border-radius: 0 0 var(--el-dialog-border-radius)
      var(--el-dialog-border-radius);
  }
}
