.theme-arco-design.dark {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: #3c7eff;
  --el-color-primary-light-3: #306fff;
  --el-color-primary-light-5: #1d4dd2;
  --el-color-primary-light-7: #0e32a6;
  --el-color-primary-light-8: #041b79;
  --el-color-primary-light-9: #000d4d;
  --el-color-primary-dark-2: #689fff;
  --el-color-success: #27c346;
  --el-color-success-light-3: #1db440;
  --el-color-success-light-5: #129a37;
  --el-color-success-light-7: #0a802d;
  --el-color-success-light-8: #046625;
  --el-color-success-light-9: #004d1c;
  --el-color-success-dark-2: #50d266;
  --el-color-warning: #ff9626;
  --el-color-warning-light-3: #ff8d1f;
  --el-color-warning-light-5: #d26913;
  --el-color-warning-light-7: #a64b0a;
  --el-color-warning-light-8: #793004;
  --el-color-warning-light-9: #4d1b00;
  --el-color-warning-dark-2: #ffb357;
  --el-color-danger: #f76965;
  --el-color-danger-light-3: #f54e4e;
  --el-color-danger-light-5: #cb2e34;
  --el-color-danger-light-7: #a1161f;
  --el-color-danger-light-8: #770611;
  --el-color-danger-light-9: #4d000a;
  --el-color-danger-dark-2: #f98d86;
  --el-color-error: #f76965;
  --el-color-error-light-3: #f54e4e;
  --el-color-error-light-5: #cb2e34;
  --el-color-error-light-7: #a1161f;
  --el-color-error-light-8: #770611;
  --el-color-error-light-9: #4d000a;
  --el-color-error-dark-2: #f98d86;
  --el-color-info: #ababac;
  --el-color-info-light-3: #929293;
  --el-color-info-light-5: #78787a;
  --el-color-info-light-7: #5f5f60;
  --el-color-info-light-8: #484849;
  --el-color-info-light-9: #2e2e30;
  --el-color-info-dark-2: #c5c5c5;
  --el-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --el-box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
  --el-box-shadow-lighter: 0 2px 5px rgba(0, 0, 0, 0.1);
  --el-box-shadow-dark: 0 8px 20px rgba(0, 0, 0, 0.1);
  --el-bg-color-page: #17171a;
  --el-bg-color: #232324;
  --el-bg-color-overlay: #232324;
  --el-text-color-primary: #f6f6f6;
  --el-text-color-regular: #f6f6f6;
  --el-text-color-secondary: #c5c5c5;
  --el-text-color-placeholder: #929293;
  --el-text-color-disabled: #5f5f60;
  --el-border-color-darker: #5f5f60;
  --el-border-color-dark: #5f5f60;
  --el-border-color: #484849;
  --el-border-color-light: #2e2e30;
  --el-border-color-lighter: #17171a;
  --el-border-color-extra-light: #17171a;
  --el-fill-color-darker: #5f5f60;
  --el-fill-color-dark: #5f5f60;
  --el-fill-color: #484849;
  --el-fill-color-light: #2e2e30;
  --el-fill-color-lighter: #17171a;
  --el-fill-color-extra-light: #17171a;
  --el-fill-color-blank: #232324;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
