@import './utils.scss';

.el-dialog {
  --el-dialog-border-radius: var(--el-border-radius-medium);
  --el-dialog-title-font-size: var(--el-font-size-medium);
  --el-dialog-box-shadow: none;
  --el-dialog-padding-primary: 0;

  .el-dialog__header {
    padding: 12px 20px;
  }

  .el-dialog__body,
  .el-dialog__footer {
    padding: 16px 20px;
  }

  .el-dialog__header {
    font-weight: var(--el-font-weight-strong);
    border-bottom: var(--el-border);
  }

  .el-dialog__footer {
    border-top: var(--el-border);
  }

  .el-dialog__headerbtn {
    @include overlay-button;

    top: 12px;
    right: 16px;
  }
}
