.el-radio {
  --el-radio-input-border-color-hover: var(--el-border-color-dark);

  --el-radio-disabled-border-color: var(--el-border-color);
  --el-radio-disabled-input-fill: var(--el-fill-color-light);
  --el-radio-disabled-checked-input-fill: var(--el-color-primary-light-7);
  --el-radio-disabled-checked-input-border-color: var(--el-color-primary-light-7);

  .el-radio__inner {
    border-width: 2px;
  }

  .el-radio__input.is-disabled .el-radio__inner {
    border-color: var(--el-radio-disabled-border-color);
    background-color: var(--el-radio-disabled-input-fill);
  }

  .el-radio__input.is-disabled.is-checked .el-radio__inner {
    border-color: var(--el-radio-disabled-checked-input-border-color);
    background-color: var(--el-radio-disabled-checked-input-fill);
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after {
    background-color: var(--el-color-white);
  }

  &:hover:not(.is-disabled) {
    .el-radio__inner {
      transition: 0.1s linear;
    }

    .el-radio__input:not(.is-checked) .el-radio__inner {
      border-color: var(--el-radio-input-border-color-hover);
      box-shadow: 0px 0px 0px 5px var(--el-fill-color-light);
    }
  }
}

.el-radio-button {
  --el-button-bg-color: transparent;
  --el-button-disabled-bg-color: transparent;
  --el-radio-button-checked-border-color: transparent;
  --el-radio-button-checked-bg-color: var(--el-fill-color-blank);
  --el-radio-button-checked-text-color: var(--el-color-primary);

  background-color: var(--el-fill-color-light);

  padding: 3px;

  &:first-child {
    border-top-left-radius: var(--el-border-radius-base);
    border-bottom-left-radius: var(--el-border-radius-base);
  }

  &:last-child {
    border-top-right-radius: var(--el-border-radius-base);
    border-bottom-right-radius: var(--el-border-radius-base);
  }

  &:not(:first-child)::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: block;
    height: 50%;
    width: 1px;
    background-color: var(--el-border-color);
    content: '';
  }

  &:not(.is-disabled) {
    .el-radio-button__inner:hover {
      color: inherit;
      background-color: var(--el-radio-button-checked-bg-color);
    }
  }

  .el-radio-button__inner {
    border: none;
    border-radius: var(--el-border-radius-base);
  }
}
