.theme-arco-design {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: #165dff;
  --el-color-primary-light-3: #4080ff;
  --el-color-primary-light-5: #6aa1ff;
  --el-color-primary-light-7: #94bfff;
  --el-color-primary-light-8: #bedaff;
  --el-color-primary-light-9: #e8f3ff;
  --el-color-primary-dark-2: #0e42d2;
  --el-color-success: #00b42a;
  --el-color-success-light-3: #23c343;
  --el-color-success-light-5: #4cd263;
  --el-color-success-light-7: #7be188;
  --el-color-success-light-8: #aff0b5;
  --el-color-success-light-9: #e8ffea;
  --el-color-success-dark-2: #009a29;
  --el-color-warning: #ff7d00;
  --el-color-warning-light-3: #ff9a2e;
  --el-color-warning-light-5: #ffb65d;
  --el-color-warning-light-7: #ffcf8b;
  --el-color-warning-light-8: #ffe4ba;
  --el-color-warning-light-9: #fff7e8;
  --el-color-warning-dark-2: #d25f00;
  --el-color-danger: #f53f3f;
  --el-color-danger-light-3: #f76560;
  --el-color-danger-light-5: #f98981;
  --el-color-danger-light-7: #fbaca3;
  --el-color-danger-light-8: #fdcdc5;
  --el-color-danger-light-9: #ffece8;
  --el-color-danger-dark-2: #cb272d;
  --el-color-error: #f53f3f;
  --el-color-error-light-3: #f76560;
  --el-color-error-light-5: #f98981;
  --el-color-error-light-7: #fbaca3;
  --el-color-error-light-8: #fdcdc5;
  --el-color-error-light-9: #ffece8;
  --el-color-error-dark-2: #cb272d;
  --el-color-info: #6b7785;
  --el-color-info-light-3: #86909c;
  --el-color-info-light-5: #a9aeb8;
  --el-color-info-light-7: #c9cdd4;
  --el-color-info-light-8: #e5e6eb;
  --el-color-info-light-9: #f2f3f5;
  --el-color-info-dark-2: #4e5969;
  --el-bg-color: #ffffff;
  --el-bg-color-page: #ffffff;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #1d2129;
  --el-text-color-regular: #1d2129;
  --el-text-color-secondary: #4e5969;
  --el-text-color-placeholder: #86909c;
  --el-text-color-disabled: #c9cdd4;
  --el-border-color: #e5e6eb;
  --el-border-color-light: #f2f3f5;
  --el-border-color-lighter: #f7f8fa;
  --el-border-color-extra-light: #f7f8fa;
  --el-border-color-dark: #c9cdd4;
  --el-border-color-darker: #86909c;
  --el-fill-color: #e5e6eb;
  --el-fill-color-light: #f2f3f5;
  --el-fill-color-lighter: #f7f8fa;
  --el-fill-color-extra-light: #f7f8fa;
  --el-fill-color-dark: #c9cdd4;
  --el-fill-color-darker: #c9cdd4;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --el-box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
  --el-box-shadow-lighter: 0 2px 5px rgba(0, 0, 0, 0.1);
  --el-box-shadow-dark: 0 8px 20px rgba(0, 0, 0, 0.1);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-disabled);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);
  --el-font-size-extra-large: 24px;
  --el-font-size-large: 20px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  --el-font-weight-primary: 400;
  --el-font-line-height-primary: 24px;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-border-radius-base: 2px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 50%;
  --el-component-size-large: 36px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;

  --el-border-radius-medium: 4px;
  --el-border-radius-large: 8px;
  --el-font-weight-strong: 500;
}
