.el-select {
  .el-tag.el-tag--info {
    border: var(--el-border);
  }

  .el-select__wrapper:not(.is-disabled, .is-focused) {
    box-shadow: none;
    background-color: var(--el-fill-color-light);

    &:hover {
      background-color: var(--el-fill-color);
    }

    .el-tag.el-tag--info {
      --el-tag-bg-color: var(--el-fill-color-blank);
      --el-tag-text-color: var(--el-text-color-primary);
    }
  }

  .el-select__wrapper.is-disabled {
    .el-tag.el-tag--info {
      --el-tag-bg-color: var(--el-color-info-light-9);
      --el-tag-text-color: var(--el-text-color-disabled);
    }
  }
}

.el-select-dropdown {
  .el-select-dropdown__list {
    .el-select-dropdown__item {
      &.is-selected {
        color: inherit;
        font-weight: inherit;
        background-color: var(--el-fill-color-light);
      }
    }
  }
}
