.el-steps {
  --el-step-icon-width: 28px;
  --el-step-horizontal-line-margin: 12px;
  --el-step-vertical-line-margin: 6px;

  &:not(.el-steps--simple) .el-step__icon {
    width: var(--el-step-icon-width);
    height: var(--el-step-icon-width);
  }

  &.el-steps--simple {
    background-color: unset;

    .el-step__head {
      display: flex;
      align-items: center;
    }

    .el-step__arrow:before {
      height: 6px;
      transform: rotate(-45deg);
    }

    .el-step__arrow:after {
      height: 6px;
      transform: rotate(45deg) translate(2px, 2px);
    }
  }

  .el-step__icon-inner {
    font-weight: inherit;
  }

  .el-step__description {
    font-size: var(--el-font-size-base);
  }

  .el-step.is-horizontal {
    .el-step__line {
      height: 1px;
      top: calc(var(--el-step-icon-width) / 2);
      margin-left: calc(var(--el-step-icon-width) + var(--el-step-horizontal-line-margin));
      margin-right: var(--el-step-horizontal-line-margin);
    }

    &.is-center .el-step__line {
      height: 1px;
      top: calc(var(--el-step-icon-width) / 2);
      margin: 0 calc(var(--el-step-icon-width) / 2 + var(--el-step-horizontal-line-margin));
    }
  }

  .el-step.is-vertical {
    .el-step__line {
      width: 1px;
      left: calc(var(--el-step-icon-width) / 2);
      margin-top: calc(var(--el-step-icon-width) + var(--el-step-vertical-line-margin));
      margin-bottom: var(--el-step-vertical-line-margin);
    }

    .el-step__head {
      width: var(--el-step-icon-width);
    }
  }

  .el-step__head {
    .el-step__line {
      background-color: var(--el-border-color-light);
    }

    &.is-finish,
    &.is-success {
      color: var(--el-color-primary);
      border-color: var(--el-color-primary-light-9);

      .el-step__line {
        background-color: var(--el-color-primary);
      }

      .el-step__icon.is-text {
        background: var(--el-color-primary-light-9);
      }
    }

    &.is-process {
      color: var(--el-color-white);
      border-color: var(--el-color-primary);

      .el-step__icon.is-text {
        background: var(--el-color-primary);
      }
    }

    &.is-wait {
      color: var(--el-text-color-primary);
      border-color: var(--el-border-color-light);

      .el-step__icon.is-text {
        background: var(--el-border-color-light);
      }
    }

    &.is-error {
      color: var(--el-color-white);

      .el-step__icon.is-text {
        background: var(--el-color-danger);
      }
    }
  }

  .el-step__main {
    .el-step__title {
      color: var(--el-text-color-primary);

      &.is-process {
        font-weight: var(--el-font-weight-strong);
      }
    }

    .el-step__description {
      color: var(--el-text-color-placeholder);
    }
  }
}
