.el-timeline {
  --el-timeline-node-size-normal: 6px;
  --el-timeline-node-size-large: 12px;

  :not(.el-timeline-item__center) {
    .el-timeline-item__tail,
    .el-timeline-item__node {
      top: 6px;

      &.el-timeline-item__node--large {
        top: 3px;
      }
    }
  }

  .el-timeline-item__node.is-hollow {
    border-width: 2px;
  }

  .el-timeline-item__node--normal {
    left: 2px;
  }

  .el-timeline-item__timestamp {
    color: var(--el-text-color-placeholder);
    font-size: var(--el-font-size-extra-small);
  }
}
