.history-list {
  .history-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    &.is-active {
      background-color: var(--el-color-primary);
      color: #fff;
    }
  }
}
