.draggable-list {
  height: 100%;
  align-content: flex-start;
  .draggable-item {
    position: relative;
    padding: 1px;
    height: fit-content;
    &.is-hover {
      outline: 1px dashed var(--el-color-primary);
    }
    &.is-active {
      outline: 1px solid var(--el-color-primary);
    }

    .item-slot {
      margin-top: 1px;
      min-height: 200px;
      outline: 1px dashed var(--el-color-info);
    }
    .item-tool {
      position: absolute;
      right: 10px;
      bottom: -16px;
      z-index: 1;
    }
  }
}
