.lf-container {
  height: 100%;
}

.lf-mini-map {
  right: 0;
  bottom: 0;
  margin: 5px;
}

.lf-control-editor {
  background-image: url("https://api.iconify.design/ep/edit.svg?width=20&height=20");
}
.lf-control-mini-map {
  background-image: url("https://api.iconify.design/ep/picture.svg?width=20&height=20");
}

.flow-editor__textarea {
  height: 100%;
}
.flow-editor__textarea .el-textarea__inner {
  height: 100%;
}
