// 卡片
.pro-crud__card {
  .pro-crud__card-item {
    margin-top: 10px;
    border: 1px solid var(--el-card-border-color);

    .el-page-header__left {
      .el-page-header__back + .el-divider {
        display: none;
      }
    }

    .el-card__body {
      padding: var(--el-card-padding);
    }

    .el-card__footer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .avue-form {
      &.avue--detail {
        // 移除详情表单的边框和底纹
        .el-row,
        .el-col,
        .el-form-item__content {
          border: none;
        }

        .el-form-item,
        .el-form-item__label {
          background: unset;
          margin: 0;
        }

        .el-form-item__content {
          padding: 0;

          * {
            cursor: default;
          }

          .el-input__wrapper {
            padding: 0;
          }
        }
      }
    }
  }
}
