.el-button {
  border-color: transparent;

  &.is-disabled {
    border-color: transparent;
  }

  &:not(
      .el-button--primary,
      .el-button--success,
      .el-button--info,
      .el-button--warning,
      .el-button--danger
    ) {
    --el-button-divide-border-color: var(--el-border-color);
    --el-button-bg-color: var(--el-fill-color-light);
    --el-button-hover-text-color: var(--el-button-text-color);
    --el-button-hover-bg-color: var(--el-fill-color);
    --el-button-active-bg-color: var(--el-fill-color-dark);
  }

  &.is-plain {
    &:hover {
      color: var(--el-button-text-color);
    }

    &.el-button--primary {
      --el-button-hover-bg-color: var(--el-color-primary-light-8);
      --el-button-active-bg-color: var(--el-color-primary-light-7);
    }

    &.el-button--success {
      --el-button-hover-bg-color: var(--el-color-success-light-8);
      --el-button-active-bg-color: var(--el-color-success-light-7);
    }

    &.el-button--info {
      --el-button-hover-bg-color: var(--el-color-info-light-8);
      --el-button-active-bg-color: var(--el-color-info-light-7);
    }

    &.el-button--warning {
      --el-button-hover-bg-color: var(--el-color-warning-light-8);
      --el-button-active-bg-color: var(--el-color-warning-light-7);
    }

    &.el-button--danger {
      --el-button-hover-bg-color: var(--el-color-danger-light-8);
      --el-button-active-bg-color: var(--el-color-danger-light-7);
    }
  }
}

.el-button-group .el-button:not(:first-child) {
  border-left-color: var(--el-button-divide-border-color);
}
