.el-radio {
  --el-radio-input-border-color-hover: var(--el-border-color-dark);

  --el-radio-disabled-border-color: var(--el-border-color);
  --el-radio-disabled-input-fill: var(--el-fill-color-light);
  --el-radio-disabled-checked-input-fill: var(--el-color-primary-light-7);
  --el-radio-disabled-checked-input-border-color: var(
    --el-color-primary-light-7
  );

  .el-radio__inner {
    border-width: 2px;
  }

  .el-radio__input.is-disabled .el-radio__inner {
    border-color: var(--el-radio-disabled-border-color);
    background-color: var(--el-radio-disabled-input-fill);
  }

  .el-radio__input.is-disabled.is-checked .el-radio__inner {
    border-color: var(--el-radio-disabled-checked-input-border-color);
    background-color: var(--el-radio-disabled-checked-input-fill);
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after {
    background-color: var(--el-color-white);
  }
}
