.el-rate {
  --el-rate-fill-color: #f7ba1e;
  --el-rate-void-color: var(--el-fill-color);

  .el-rate__icon {
    font-size: 24px;
  }

  &.el-rate--large {
    .el-rate__icon {
      font-size: 24px;
    }
  }

  &.el-rate--small {
    .el-rate__icon {
      font-size: 20px;
    }
  }
}
