.el-tree-select__popper {
  .el-select-dropdown__list {
    padding: 4px;
  }

  .el-tree-node__content:not(:has(.el-checkbox)) {
    .el-select-dropdown__item.is-selected {
      color: var(--el-color-primary);
    }
  }

  .el-select-dropdown__item {
    cursor: pointer;
    padding: 0 4px;
    border-radius: var(--el-border-radius-small);
    height: 24px;
    line-height: 24px;

    &:hover {
      background-color: var(--el-tree-node-hover-bg-color) !important;
    }

    &.selected {
      font-weight: inherit;

      &::after {
        display: none;
      }
    }
  }
}
