.pro-tree {
  display: flex;
  flex-direction: column;

  > .el-select {
    .el-select__caret:not(.el-select__clear) {
      display: none;
    }
  }

  > .el-select + .el-tree {
    margin-top: 8px;
    overflow: auto;
  }
}

.pro-tree__popper {
  display: none;
}
