.el-color-picker {
  --el-color-picker-border-radius: var(--el-border-radius-base);

  &.el-color-picker--large {
    --el-color-picker-border-radius: var(--el-border-radius-large);
  }

  &.el-color-picker--small {
    --el-color-picker-border-radius: var(--el-border-radius-small);
  }

  .el-color-picker__trigger {
    border-radius: var(--el-color-picker-border-radius);
    padding: 3px;
  }

  .el-color-picker__color {
    border: none;
  }

  .el-color-picker__color-inner {
    border-radius: calc(var(--el-color-picker-border-radius) - 2px);
  }

  .el-color-picker__icon {
    display: none;
  }
}

.el-color-picker__panel {
  .el-color-svpanel__cursor > div {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    box-shadow: none;
  }
}
