.el-date-picker {
  --el-datepicker-inrange-bg-color: var(--el-fill-color-light);
  --el-datepicker-inrange-hover-bg-color: var(--el-fill-color-light);
  --el-datepicker-hover-text-color: var(--el-text-color-primary);
  --el-datepicker-hover-bg-color: var(--el-fill-color-light);
}

.el-date-range-picker {
  --el-datepicker-inrange-bg-color: var(--el-color-primary-light-9);
  --el-datepicker-inrange-hover-bg-color: var(--el-color-primary-light-9);
  --el-datepicker-hover-text-color: var(--el-text-color-primary);
  --el-datepicker-hover-bg-color: var(--el-fill-color-light);
}

.el-picker-panel {
  .el-picker-panel__sidebar {
    padding: 8px;

    .el-picker-panel__shortcut {
      padding: 0 8px;
      border-radius: var(--el-border-radius-small);

      &:hover {
        background-color: var(--el-datepicker-hover-bg-color);
      }
    }
  }

  .el-date-table {
    td.start-date,
    .el-date-table__row:hover td:first-child {
      .el-date-table-cell {
        border-top-left-radius: var(--el-border-radius-small);
        border-bottom-left-radius: var(--el-border-radius-small);
      }
    }

    td.end-date,
    .el-date-table__row:hover td:last-child {
      .el-date-table-cell {
        border-top-right-radius: var(--el-border-radius-small);
        border-bottom-right-radius: var(--el-border-radius-small);
      }
    }
  }

  // 日
  .el-date-table:not(.is-week-mode) {
    td {
      .el-date-table-cell__text {
        border-radius: var(--el-border-radius-small);
      }

      &:not(.current, .selected, .start-date, .end-date) {
        .el-date-table-cell:hover {
          .el-date-table-cell__text {
            background-color: var(--el-datepicker-hover-bg-color);
          }
        }
      }

      &.today:not(.current, .selected) {
        .el-date-table-cell__text {
          border: 1px solid var(--el-datepicker-active-color);
          color: inherit;
          font-weight: inherit;
        }
      }

      // 多选
      &.selected {
        .el-date-table-cell {
          background-color: unset;
          border-radius: unset;
        }
      }
    }
  }

  // 周
  .el-date-table.is-week-mode {
    .el-date-table__row.current .el-date-table-cell {
      color: #fff;
      background-color: var(--el-datepicker-active-color);
    }

    td.today .el-date-table-cell__text {
      color: inherit;
      font-weight: inherit;
    }
  }

  // 月
  .el-month-table {
    td div {
      height: 36px;
    }

    td.start-date div {
      border-top-left-radius: var(--el-border-radius-small);
      border-bottom-left-radius: var(--el-border-radius-small);
    }

    td.end-date div {
      border-top-right-radius: var(--el-border-radius-small);
      border-bottom-right-radius: var(--el-border-radius-small);
    }

    td .cell {
      border-radius: var(--el-border-radius-small);
      height: 24px;
      line-height: 24px;
    }

    td:not(.start-date, .end-date) .cell:hover {
      background-color: var(--el-datepicker-hover-bg-color);
    }

    td.today .cell {
      color: inherit;
      font-weight: inherit;
    }

    td.current:not(.disabled) .cell {
      color: #fff;
      background-color: var(--el-datepicker-active-color);
    }
  }

  // 年
  .el-year-table {
    td .cell {
      border-radius: var(--el-border-radius-small);
      height: 24px;
      line-height: 24px;

      &:hover {
        background-color: var(--el-datepicker-hover-bg-color);
      }
    }

    td.today .cell {
      color: inherit;
      font-weight: inherit;
    }

    td.current:not(.disabled) .cell {
      color: #fff;
      background-color: var(--el-datepicker-active-color);
    }
  }
}
