.el-dialog {
  --el-dialog-border-radius: var(--el-border-radius-large);
  --el-dialog-title-font-size: var(--el-font-size-medium);
  --el-dialog-box-shadow: var(--el-box-shadow-light);
  --el-dialog-padding-primary: 20px 24px;

  .el-dialog__header,
  .el-dialog__body,
  .el-dialog__footer {
    padding: 0;
  }

  .el-dialog__header {
    margin-bottom: 8px;
    font-weight: var(--el-font-weight-strong);
  }

  .el-dialog__footer {
    margin-top: 12px;
  }

  .el-dialog__headerbtn {
    width: 32px;
    height: 32px;
    top: 10px;
    right: 12px;
  }
}
