.el-message-box {
  --el-messagebox-border-radius: var(--el-border-radius-large);
  --el-messagebox-padding-primary: 20px 24px;

  .el-message-box__header,
  .el-message-box__btns {
    padding: 0;
  }

  .el-message-box__header {
    font-weight: var(--el-font-weight-strong);
    margin-bottom: 8px;
  }

  .el-message-box__btns {
    margin-top: 12px;
  }

  .el-message-box__headerbtn {
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
  }

  .el-message-box__status.el-message-box-icon--info {
    --el-messagebox-color: var(--el-color-primary);
  }
}
