.el-tag:not(.el-tag--dark) {
  --el-tag-border-color: var(--el-color-primary-light-5);

  &.el-tag--success {
    --el-tag-border-color: var(--el-color-success-light-5);
  }

  &.el-tag--info {
    --el-tag-border-color: var(--el-color-info-light-5);
    --el-tag-text-color: var(--el-text-color-primary);
  }

  &.el-tag--warning {
    --el-tag-border-color: var(--el-color-warning-light-5);
  }

  &.el-tag--danger {
    --el-tag-border-color: var(--el-color-danger-light-5);
  }
}
