.vp-doc table {
  margin: unset;
}
.vp-doc th {
  font-size: unset;
}

// .VPContent.has-sidebar {
//   padding-right: 0 !important;
// }

.avue-group__title {
  font-size: 16px !important;
}

// .avue-group--header .el-collapse-item__header {
//   display: flex !important;
// }
