.vp-doc table {
  margin: unset;
}
.vp-doc th {
  font-size: unset;
}

.VPContent.has-sidebar {
  padding-right: 0 !important;
}

.avue-group__title {
  font-size: 16px !important;
}

.avue-crud {
  // 添加hide-menu可隐藏菜单栏
  &.hide-menu {
    .avue-crud__header {
      display: none;
    }
  }
}

// .avue-group--header .el-collapse-item__header {
//   display: flex !important;
// }

// 适配暗黑模式
.dark {
  .avue-crud {
    .avue-crud__header {
      background-color: var(--el-bg-color-overlay);
    }
    .avue-crud__tip {
      border-color: var(--el-border-color);
      background-color: var(--el-color-primary-light-9);
    }
    .el-table {
      th.el-table__cell {
        color: initial;
        background-color: var(--el-bg-color-overlay);
      }
    }
  }

  .avue-form {
    .avue-group {
      .el-collapse,
      .el-collapse-item__wrap,
      .el-collapse-item__header {
        border-color: var(--el-bg-color-overlay);
      }
      .avue-group__title {
        color: initial;
      }
    }
    &.avue--detail,
    .avue--detail {
      .el-row,
      .el-col {
        border-color: var(--el-border-color);
      }

      .el-form-item {
        background: var(--el-bg-color-overlay);
      }
      .el-form-item__label {
        background: var(--el-bg-color-overlay);
      }
      .el-form-item__content {
        border-left: 1px solid var(--el-border-color);
        background: var(--el-bg-color);
      }

      .el-input.is-disabled .el-input__wrapper,
      .el-input.is-disabled .el-input__inner,
      .el-range-editor.is-disabled,
      .el-range-editor.is-disabled input,
      .el-textarea.is-disabled .el-textarea__inner {
        background-color: unset;
        color: var(--el-text-color);
      }
    }
  }

  .avue-dialog {
    .el-dialog__title,
    .el-drawer__header {
      color: initial;
    }

    .el-dialog__header,
    .el-drawer__header {
      border-color: var(--el-border-color);
    }

    .el-dialog__body {
      overflow: auto;
    }

    .avue-dialog__footer {
      border-color: var(--el-border-color);
      background-color: var(--el-bg-color);
    }
  }

  .avue-upload {
    .avue-upload--list .el-upload {
      background-color: unset;
      border-color: var(--el-border-color);
    }
  }
}
